body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header {
    background-color: white;
    color: black;
    
    text-align: center;
    
    width: 100%;
    
    box-shadow: 10px 10px 8px rgba(128, 128, 128, 0.75);
}

#content {
    background-color: #dfe6e9;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    padding: 20px 0px;
    gap: 20px;
}

.book-add {
    cursor: pointer;
    transition: 100ms ease-in-out;
    user-select: none;
    
    display: flex;
    align-items: center;
    
    border-radius: 16px;
    padding: 0px 10px;
}

.book-add > img {
    cursor: inherit;
}

.book-add > button {
    background: none;
    border: none;
    cursor: inherit;
    
    display: flex;
    align-items: center;
    gap: 6px;
}

.book-add:hover {
    background-color: #d3dadd;
}

.book-add:active {
    transform: scale(0.95);
}

.book-container {
    height: 94%;
    width: 90%;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    overflow: auto;
}

.book-card {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    background-color: white;
    height: 250px;
    min-width: 100px;
    
    border-radius: 16px;
}

.book-card > button {
    width: 40%;
}

#footer {
    background-color: white;
    width: 100%;
    
    text-align: center;
}

#book-entry {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    
    background-color: black;
    
    z-index: 10;
    
    visibility: hidden;
}

#book-entry-form {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    
    gap: 10px;
    z-index: 12;
}

#book-entry-form > input[type=text],
#book-entry-form > input[type=number] {
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: #d8dfe2;
    padding-left: 6px;
}

#book-entry-form > input[type=submit] {
    grid-column: 1 / 3;
    
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #d8dfe2;
    height: 25px;
    width: 75px;
    margin-top: 10px;
    
    justify-self: center;
}

#book-entry-form > input[type=submit]:hover {
    background-color: #ced4d6;
}

.book-remove {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    
    border-radius: 16px;
    
    transition: 100ms ease-in-out;
}

.book-remove:hover {
    background-color: #d8dfe2;
}

.book-remove:active {
    transform: scale(0.95);
}